<!DOCTYPE html>
	<html>
	<head>
		<title>Feed/title>
	</head>
	<body>

		<h1>Live Gallery</h1>

		<% for(i in data) {%>

		<div>
			<img src='thumbnails/<%= data[i] %>'>
		</div>

		<p><%= data[i] %></p>
		
		<br>
		<br>

		<%}%>

	</body>
</html>