<!DOCTYPE html>
	<html>
	<head>
		<title>Impressions | A Photo Sharing Web App</title>
		<link rel="stylesheet" type="text/css" href="style.css">
	</head>
	<body>

		<div class="container-live-gallery">

			<h1>Welcome to Impressions.</h1>

			<% for(let i in rows) { %>

		<div>
			<img src="thumbnails/<%= rows[i].dataValues.image %>">
		</div>

			<p><%= rows[i].dataValues.username %></p>
			<p><%= rows[i].dataValues.comment %></p>

			<% } %>

			<a href="/profile">Profile</a>
			<a href="/logout">Log out</a>

		</div>

	</body>
</html>
