<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../style.css">
    <title>Login!</title>
  </head>
  <body>

      <h1 id="header-login">Login</h1>

      <form method="POST" action="/login">
        <div>
          <label>Username:   </label>
            <input type="text" name="username"/><br/>
        </div>
        <div>
          <label>Password:   </label>
            <input type="password" name="password"/>
        </div>
        <div>
            <input type="submit" value="submit"/>
        </div>
      </form>
  
  </body>
</html>
