<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="style.css">
	<title>Profile Page</title>
</head>
<body>
		<h1>Welcome to your profile page</h1>
		
			<!-- This is where the users images will go -->
		
		<a href="/logout"><button>Logout</button></a>
</body>
</html>