<!DOCTYPE html>
<html>
<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../style.css">
	   <title>Sign up!</title>
</head>
<body>

  	<h1 id="header-sign-up">Create an Account!</h1>
     
      <form method="POST" action="/signup">  
           <div class="form-group">
              <label for="lastname">Last Name:   </label>
                <input type="text" class="form-control" id="lastname" aria-describedby="lastnameHelp" placeholder="Enter Your Last Name.">
                <br/>
            </div>
          <div class="form-group">
              <label for="firstname">First Name:   </label>
                <input type="text" class="form-control" id="lastname" aria-describedby="lastnameHelp" placeholder="Enter your First Name.">
                <br/>
            </div>
          <div class="form-group">
              <label for="username">Username:   </label>
                <input type="text" class="form-control" id="username" aria-describedby="usernameHelp" placeholder="Enter a Username.">
                <br/>
          </div>
          <div class="form-group">
              <label for="password">Last Name:   </label>
                <input type="password" class="form-control" id="password" aria-describedby="passwordHelp" placeholder="Enter a Password">
            </div>
             <div class="form-group">
              <label for="cell">Cell:  </label>
                <input type="text" class="form-control" id="cell" aria-describedby="cellHelp" placeholder="Enter Your Cell">
            </div>
          <div class="form-group">
              <label for="email">Last Name:</label>
                <input type="text" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter Your Email">
          </div>
          <button id="button" class="btn btn-submit">SUBMIT</button>
      </form>
</body>
</html>