<!DOCTYPE html>
<html>
<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../style.css">
	   <title>Sign up!</title>
</head>
<body>

  	<h1 id="header-sign-up">Create an Account!</h1>
     
      <form method="POST" action="/signup">  
           <div class="form-group">
              <label for="lastname">Last Name:</label>
                <input type="text" class="form-control" id="lastname" aria-describedby="lastnameHelp" placeholder="Enter Username">
                <br/>
            </div>
          <fieldset>
              <label>First Name:   </label><input type="text" name="firstname">
          </fieldset>
          <fieldset>
              <label>Username:   </label><input type="text" name="username">
          </fieldset>
          <fieldset>
              <label>Password:   </label><input type="password" name="password">
          </fieldset>
          <fieldset>
              <label>Cell:   </label><input type="text" name="cell">
          </fieldset>
          <fieldset>
              <label>Email:   </label><input type="text" name="email">
          </fieldset>
          <button id="button" class="btn-submit">SUBMIT</button>
      </form>

</body>
</html>