<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../style.css">
	   <title>Sign up!</title>
</head>
<body>
   <div class="container">
    	<h1 id="header-register">Create an Account!</h1>
      <form method="POST" action="/signup">
      <div class="form-group">
          <label for="lastname">Last Name:  </label>
          <input type="text" class="form-control" name="lastname" placeholder="Enter Your Last Name.">
      </div>
      <div class="form-group">
          <label for="firstname">First Name:  </label>
          <input type="text" class="form-control" name="firstname" placeholder="Enter Your First Name.">
      </div>
      <div class="form-group">
          <label for="lastname">Username:  </label>
          <input type="text" class="form-control" name="username" placeholder="Enter a User Name.">
      </div>
      <div class="form-group">
          <label for="lastname">Password:  </label>
          <input type="password" class="form-control" name="password" placeholder="Enter a Password.">
      </div>
      <div class="form-group">
          <label for="cell">Username:  </label>
          <input type="text" class="form-control" name="cell" placeholder="Enter Your Cell #">
      </div>
      <div class="form-group">
          <label for="email">Username:  </label>
          <input type="text" class="form-control" name="email" placeholder="Enter Your Email.">
      </div>
      <button id="button" class="btn btn-submit">SUBMIT</button>
    </form>
</body>
</html>