<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="../style.css">
	<title>Sign up!</title>
</head>
<body>

  <div class="container">

  	<h1 id="header-sign-up">Create an Account!</h1>
     
      <form method="POST" action="/profile">  
          <fieldset>
              <label>Last Name:  </label><input type="text" name="lastname">
          </fieldset>
          <fieldset>
              <label>First Name:   </label><input type="text" name="firstname">
          </fieldset>
          <fieldset>
              <label>Username:   </label><input type="text" name="username">
          </fieldset>
          <fieldset>
              <label>Password:   </label><input type="password" name="password">
          </fieldset>
          <fieldset>
              <label>Cell:   </label><input type="text" name="cell">
          </fieldset>
          <fieldset>
              <label>Email:   </label><input type="text" name="email">
          </fieldset>
        <br>
        <br>
          <button id="button" class="btn-submit">SUBMIT</button>
      </form>

  </div>

</body>
</html>